h1{
    color: green;
    background-color: blue;
}

h2{
    color: snow;
}
body{
    background-color: purple;
}

ul{
    color: white;
}
ol{
    color:beige;
}
div{
    border:1px solid ;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: white;

    /* margin- bulundugu ortamı padding ise ilgili elementi kapsar */
}
table{
    border-collapse: collapse;
    width: 400px;
    
   
}
th{
    text-align: left;
}
td{
    height: 30px;
    vertical-align:auto;
    text-align: center;
    padding-left: 10px;
}
tr:hover{
background-color: brown;
}   
tr:nth-child(even){
    background-color: wheat;
    }
    tr:nth-child(odd){
        background-color: yellow;
     }   
     /* //böyle bir durumda hover event'i çalışmaz. o yüzden nth child yaparken hover'ı kapatalım ya da tam tersi*/ 
table,th,td{
    border: 1px solid black;
}

input[type=text],[type=password] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background-color: gray;
}

input[type=text]:focus,[type=password]:focus{
    background-color: lightblue;
}
.myClass{
    color: red;
    background-color: blue;
}

p.someClass{
    color: red;
    background-color: white;
}
#email{
    background-color: yellow;
}

/* //class oluşturunca onu . ile başlatırız */